### Project December 2018 for Programming for Data Analysis

### Problem statement
For this project you must create a data set by simulating a real-world phenomenon of
your choosing. You may pick any phenomenon you wish – you might pick one that is
of interest to you in your personal or professional life. Then, rather than collect data
related to the phenomenon, you should model and synthesise such data using Python.
We suggest you use the numpy.random package for this purpose.

Specifically, in this project you should:
- Choose a real-world phenomenon that can be measured and for which you could
collect at least one-hundred data points across at least four different variables.
- Investigate the types of variables involved, their likely distributions, and their
relationships with each other.
- Synthesise/simulate a data set as closely matching their properties as possible.
- Detail your research and implement the simulation in a Jupyter notebook – the
data set itself can simply be displayed in an output cell within the notebook.

Note that this project is about simulation – you must synthesise a data set. Some
students may already have some real-world data sets in their own files. It is okay to
base your synthesised data set on these should you wish (please reference it if you do),
but the main task in this project is to create a **synthesised data set**.

### Real-world phenomenon chosen

Changing tack here based on my research into life expantancy probablility and understanding of the project, I have now decided to change my real-world phenomenon! [3]

The real-world phenomenon I have chosen is the attitude of primary school children to Santa Claus. I decided the most interesting variable related to this is the age of children when they stop writing letters to Santa Claus (age). 

On investigation of the problem I reasoned that the Sex of the child (sex); whether or not the child had older siblings (sibs); and the number of hours per week the child was accessing a mobile device (hours) had a relationship with the age they stopped writing letters to Santa Claus.

- The Sex (sex) variable will be M/F and follow the Bernoulli distribution?
- The Siblings (sibs) variable will be Yes/No and follow the Bernoulli distribution?
- The Hours per week (hours) variable will be non-negative real number with two decimal places.

After extensive research at home observing my children and interrogating other parents, I find that primary school students access mobile devices on average five hours per week with a standard deviation of one hour and that a normal distribution is an acceptable model for such a variable.

In [9]:
# dicard, no longer applicable for this phenomenon

# Create a datetime index for a data frame.
# Adapted from: https://pandas.pydata.org/pandas-docs/stable/timeseries.html
# 50 years starting with midnight Jan 1st, 1947

import pandas as pd
rng = pd.date_range('1/1/1947', periods=50, freq='Y')
rng

DatetimeIndex(['1947-12-31', '1948-12-31', '1949-12-31', '1950-12-31',
               '1951-12-31', '1952-12-31', '1953-12-31', '1954-12-31',
               '1955-12-31', '1956-12-31', '1957-12-31', '1958-12-31',
               '1959-12-31', '1960-12-31', '1961-12-31', '1962-12-31',
               '1963-12-31', '1964-12-31', '1965-12-31', '1966-12-31',
               '1967-12-31', '1968-12-31', '1969-12-31', '1970-12-31',
               '1971-12-31', '1972-12-31', '1973-12-31', '1974-12-31',
               '1975-12-31', '1976-12-31', '1977-12-31', '1978-12-31',
               '1979-12-31', '1980-12-31', '1981-12-31', '1982-12-31',
               '1983-12-31', '1984-12-31', '1985-12-31', '1986-12-31',
               '1987-12-31', '1988-12-31', '1989-12-31', '1990-12-31',
               '1991-12-31', '1992-12-31', '1993-12-31', '1994-12-31',
               '1995-12-31', '1996-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [2]:
# dicard, no longer applicable for this phenomenon

# Simulate some lE data using numpy.

import pandas as pd
import numpy as np
LE = pd.DataFrame(np.random.poisson(78, len(rng)), index=rng, columns=["LE"])
LE

            LE
1947-12-31  64
1948-12-31  71
1949-12-31  80
1950-12-31  70
1951-12-31  76
1952-12-31  85
1953-12-31  88
1954-12-31  92
1955-12-31  65
1956-12-31  79
1957-12-31  78
1958-12-31  88
1959-12-31  78
1960-12-31  63
1961-12-31  65
1962-12-31  87
1963-12-31  72
1964-12-31  83
1965-12-31  76
1966-12-31  70
1967-12-31  80
1968-12-31  80
1969-12-31  79
1970-12-31  80
1971-12-31  78
1972-12-31  80
1973-12-31  82
1974-12-31  84
1975-12-31  78
1976-12-31  88
1977-12-31  79
1978-12-31  97
1979-12-31  65
1980-12-31  61
1981-12-31  70
1982-12-31  88
1983-12-31  78
1984-12-31  81
1985-12-31  73
1986-12-31  83
1987-12-31  81
1988-12-31  75
1989-12-31  88
1990-12-31  84
1991-12-31  72
1992-12-31  91
1993-12-31  63
1994-12-31  84
1995-12-31  76
1996-12-31  67

In [5]:
# generates a random set of (integers) ages of primary school children from 7 to 12
age = np.random.randint(7, 13, 100)
age

array([11,  8, 12,  9,  7, 12, 11, 11,  7,  7, 10, 11, 11, 11, 11,  9, 12,
       10,  7, 11,  9,  7, 11,  8,  9,  7,  8,  8, 10, 12, 11, 11,  8,  7,
        9, 10, 10,  8, 12, 10, 12, 12,  9,  8,  8, 10,  7, 11,  8, 10, 11,
       11, 12,  9, 11, 11, 10,  7,  7,  8, 12, 12,  9,  7,  8,  7,  9, 11,
       12,  7, 11,  7,  9, 12, 12,  8,  9, 12, 10, 12,  7, 12,  8,  7, 12,
        9,  9,  8, 11,  8,  8,  7, 11,  9, 11, 12, 11, 11,  7,  9])

In [8]:
# generates a set of hours of mobiel device usage with mean of 5 using the normal distribution
hours = np.random.normal(5, 1, 100)
hours

array([5.65233413, 3.59823161, 4.19495664, 4.51234009, 5.58699784,
       6.34842767, 4.62869613, 5.1963038 , 5.84746802, 3.75475164,
       5.127159  , 4.65439809, 3.8555849 , 4.43758527, 6.09732731,
       4.67673455, 3.18809242, 5.85363534, 5.08751601, 5.91051515,
       5.2575272 , 4.88756983, 6.532718  , 4.81001106, 5.317741  ,
       6.86155113, 5.56187948, 4.93342623, 4.84954333, 5.20360268,
       5.69529557, 4.86832828, 5.3153095 , 5.70633981, 3.42595023,
       5.13604176, 6.4937495 , 3.51001395, 5.43082607, 6.91613261,
       4.83239677, 5.95795903, 3.48288247, 4.9776886 , 3.55436531,
       3.73007839, 5.88064777, 3.50026888, 5.34054594, 4.35150491,
       6.37323689, 5.71016907, 6.31260215, 6.51612858, 5.38478368,
       6.53428977, 6.25313385, 6.30960588, 4.64568631, 6.66869365,
       5.02504082, 5.01456544, 4.37564826, 4.35210785, 5.59122823,
       5.2578206 , 6.27492894, 4.88127888, 5.58119992, 6.85550913,
       5.30671521, 3.64545793, 4.4918466 , 3.67091277, 4.34110601,
       4.72953381, 6.1694369 , 4.85870763, 6.33954352, 6.15835639,
       4.45037703, 4.41127223, 3.89805001, 4.04818749, 6.11283902,
       4.55182449, 3.79587577, 5.49634816, 6.33447448, 5.64896044,
       4.49769463, 3.54299794, 3.54149732, 4.89286413, 5.58175475,
       5.3073831 , 5.81530333, 5.1717048 , 2.83672786, 4.34918304])

In [18]:
# generates an array of the sex of the child using the uniform distribution
# we will convert the integers to strings later
# Male = 0 
# Female = 1

sex = np.random.binomial(1, .5, 100)
sex

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1])

In [23]:
# generates an array Yes/No answers whether a child has older siblings using the uniform distribution
# we will convert the integers to strings later
# Yes = 0 
# No = 1

sibs = np.random.binomial(1, .5, 100)
sibs

array([0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1])

In [35]:
# Create a dataframe with all of the variables  and their data randomly generated

df=pd.DataFrame(data={'Age': age, 'Hours on mobile device': hours, 'Sex': sibs, 'Older Siblings': sibs})

df

    Age  Hours on mobile device  Sex  Older Siblings
0    11                5.652334    0               0
1     8                3.598232    0               0
2    12                4.194957    1               1
3     9                4.512340    1               1
4     7                5.586998    0               0
5    12                6.348428    0               0
6    11                4.628696    1               1
7    11                5.196304    1               1
8     7                5.847468    1               1
9     7                3.754752    1               1
10   10                5.127159    0               0
11   11                4.654398    0               0
12   11                3.855585    1               1
13   11                4.437585    1               1
14   11                6.097327    0               0
15    9                4.676735    0               0
16   12                3.188092    1               1
17   10                5.853635    0               0
18    7                5.087516    1               1
19   11                5.910515    1               1
20    9                5.257527    1               1
21    7                4.887570    0               0
22   11                6.532718    0               0
23    8                4.810011    1               1
24    9                5.317741    0               0
25    7                6.861551    1               1
26    8                5.561879    0               0
27    8                4.933426    1               1
28   10                4.849543    0               0
29   12                5.203603    1               1
..  ...                     ...  ...             ...
70   11                5.306715    0               0
71    7                3.645458    0               0
72    9                4.491847    0               0
73   12                3.670913    0               0
74   12                4.341106    0               0
75    8                4.729534    0               0
76    9                6.169437    0               0
77   12                4.858708    1               1
78   10                6.339544    1               1
79   12                6.158356    0               0
80    7                4.450377    1               1
81   12                4.411272    0               0
82    8                3.898050    1               1
83    7                4.048187    0               0
84   12                6.112839    1               1
85    9                4.551824    0               0
86    9                3.795876    0               0
87    8                5.496348    1               1
88   11                6.334474    1               1
89    8                5.648960    1               1
90    8                4.497695    1               1
91    7                3.542998    1               1
92   11                3.541497    0               0
93    9                4.892864    0               0
94   11                5.581755    1               1
95   12                5.307383    0               0
96   11                5.815303    1               1
97   11                5.171705    1               1
98    7                2.836728    1               1
99    9                4.349183    1               1

[100 rows x 4 columns]

In [32]:
# Replacing numerical values to strings [4]:

df['Sex'].replace({0:'Male', 1:'Female'})
df['Older Siblings'].replace({0:'Yes', 1:'No'}) 
df

    Age  Hours on mobile device     Sex Older Siblings
0    11                5.652334    Male            Yes
1     8                3.598232    Male            Yes
2    12                4.194957  Female             No
3     9                4.512340  Female             No
4     7                5.586998    Male            Yes
5    12                6.348428    Male            Yes
6    11                4.628696  Female             No
7    11                5.196304  Female             No
8     7                5.847468  Female             No
9     7                3.754752  Female             No
10   10                5.127159    Male            Yes
11   11                4.654398    Male            Yes
12   11                3.855585  Female             No
13   11                4.437585  Female             No
14   11                6.097327    Male            Yes
15    9                4.676735    Male            Yes
16   12                3.188092  Female             No
17   10                5.853635    Male            Yes
18    7                5.087516  Female             No
19   11                5.910515  Female             No
20    9                5.257527  Female             No
21    7                4.887570    Male            Yes
22   11                6.532718    Male            Yes
23    8                4.810011  Female             No
24    9                5.317741    Male            Yes
25    7                6.861551  Female             No
26    8                5.561879    Male            Yes
27    8                4.933426  Female             No
28   10                4.849543    Male            Yes
29   12                5.203603  Female             No
..  ...                     ...     ...            ...
70   11                5.306715    Male            Yes
71    7                3.645458    Male            Yes
72    9                4.491847    Male            Yes
73   12                3.670913    Male            Yes
74   12                4.341106    Male            Yes
75    8                4.729534    Male            Yes
76    9                6.169437    Male            Yes
77   12                4.858708  Female             No
78   10                6.339544  Female             No
79   12                6.158356    Male            Yes
80    7                4.450377  Female             No
81   12                4.411272    Male            Yes
82    8                3.898050  Female             No
83    7                4.048187    Male            Yes
84   12                6.112839  Female             No
85    9                4.551824    Male            Yes
86    9                3.795876    Male            Yes
87    8                5.496348  Female             No
88   11                6.334474  Female             No
89    8                5.648960  Female             No
90    8                4.497695  Female             No
91    7                3.542998  Female             No
92   11                3.541497    Male            Yes
93    9                4.892864    Male            Yes
94   11                5.581755  Female             No
95   12                5.307383    Male            Yes
96   11                5.815303  Female             No
97   11                5.171705  Female             No
98    7                2.836728  Female             No
99    9                4.349183  Female             No

[100 rows x 4 columns]

### References:
1. https://realpython.com/python-random/
2. https://data.gov.ie/
3. https://understandinguncertainty.org/why-life-expectancy-misleading-summary-survival
4. https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html
4. /n